.Container{
    width: 100%;
    height: 80px;
    background-color: grey;
}

.Titulo{
    font-size: 30px;
    padding: 15px;
}

.NavLink{
    padding-left: 700px;
    font-size: 15px;
}

.NavLink li{
    margin:28px
}

